{
  wireguard_config = {
    peers = {
      Proxy = {
        name = "Proxy";
        endpoint = "<ip:port>";
        publicKey = "<peer public key>";
        persistentKeepalive = 20;
        allowedIPs = [
          "x.x.x.x/xx"
          "xxxx::/xx"
        ];
      };
    };
  };
  aria2_config = {
    rpc_secret = "<rpc secret for aria2>";
  };
  frp_config = {
    server_addr = "<ip addess of server running frps>";
    token = "<secret token for frps <-> frpc connection>";
  };
  caddy_config = {
    email = "<email for certificate generation>";
  };
  users = {
    root.hashedPassword = "<password hash of root user>";
    primary = {
      userName = "<primary non-root username>";
      realName = "<primary user's full name>";
      hashedPassword = "<password hash of primary user>";
      pgpFingerprint = "<primary user's pgp fingerprint>";
      emailAddress = "<primary user's email>";
      sshPublicKey = "<ssh public key>";
    };
  };
  phone.sshPublicKey = "<ssh public key from phone>";
}
