{
  wireguard_server = {
    name = "<a name for the peer>;
    endpoint = "<endpoint>:<port>";
    publicKey = "<public key>";
  };
  users = {
    root.hashedPassword = "<password hash of root user>";
    primary = {
      userName = "<primary non-root username>";
      realName = "<primary user's full name>";
      hashedPassword = "<password hash of primary user>";
      pgpFingerprint = "<primary user's pgp fingerprint>";
      emailAddress = "<primary user's email>";
      sshPublicKey = "<ssh public key>";
    };
  };
  phone.sshPublicKey = "<ssh public key from phone>";
}
