@define-color background #282a36;
@define-color foreground #f8f8f2;
@define-color selection #44475a;
@define-color unfocused #6272a4;
@define-color red #ff5555;
@define-color green #50fa7b;
@define-color yellow #f1fa8c;
@define-color cyan #8be9fd;
@define-color purple #bd93f9;
@define-color pink #ff79c6;
@define-color orange #ffb86c;

* {
    border: none;
    border-radius: 0px;
    font-family: 'FiraCode Nerd Font';
    font-size: 16px;
    min-height: 0;
}

#window {
    padding: 0px 10px;
    background: @background;
}

window#waybar {
    background: @background;
    color: @foreground;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background: @background;
}

window#waybar.solo {
    background: @background;
}

#workspaces button {
    padding: 0px 3px;
    background: @background;
    color: @foreground;
}

#workspaces button.focused {
    color: @green;
}

#workspaces button.active {
    color: @green;
}

#workspaces button.urgent {
    background: @background;
    color: @red;
}

#mode {
    background: @background;
    border: 3px solid @purple;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#submap,
#idle_inhibitor,
#bluetooth {
    padding: 0 10px;
    color: @foreground;
    background-color: @background;
}

@keyframes blink {
    to {
        color: @foreground;
    }
}

#battery.warning {
    color: @yellow;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#battery.critical {
    color: @red;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#battery.charging {
    color: @green;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

label:focus {
    background-color: @selection;
}

#temperature.critical {
    color: @red;
}

#idle_inhibitor.activated {
    color: @green;
}
