// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

spawn-at-startup "@dbus_update_activation_env_cmd@" "--systemd" "--all"
spawn-at-startup "@systemctl_cmd@" "--user" "start" "niri-session.target"

input {
    keyboard {
        xkb {
            layout "us"
            options "rupeesign:4"
            variant "altgr-intl"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
        accel-profile "adaptive"
        tap-button-map "left-right-middle"
        click-method "clickfinger"
        scroll-method "two-finger"
    }

    mouse {
        accel-profile "adaptive"
    }

    warp-mouse-to-focus
    focus-follows-mouse
}

output "eDP-1" {
    mode "1920x1080"
    scale 1
    transform "normal"
    position x=0 y=0
    variable-refresh-rate on-demand=true
}

layout {
    gaps 4
    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 0.7
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.5
        proportion 0.7
        proportion 1.0
    }

    default-column-width { proportion 0.7; }

    focus-ring {
        width 2
        active-color "#bd93f9"
        inactive-color "#44475a"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
}

prefer-no-csd

screenshot-path "@screenshot_path@/Screenshot from %Y-%m-%d %H-%M-%S.png"

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Shift+Q repeat=false { close-window; }
    Mod+Escape repeat=false { spawn "@loginctl_cmd@" "lock-session"; }
    Mod+Shift+Escape repeat=false { spawn "@power_menu_cmd@"; }

    Mod+Shift+W repeat=false { spawn "@wpaperctl_cmd@" "next"; }

    Mod+Return repeat=false { spawn "@kitty_cmd@" "@tmux_cmd@" "new"; }
    Mod+Shift+Return repeat=false { spawn "@kitty_cmd@"; }
    Mod+D repeat=false { spawn "@rofi_cmd@" "-show" "drun"; }
    Mod+E repeat=false { spawn "@kitty_cmd@" "--class=yazi" "@yazi_cmd@"; }
    Mod+F11 repeat=false { spawn "@tmux_sessions_cmd@"; }
    Mod+Shift+Y repeat=false { spawn "@youtube_cmd@"; }
    Mod+Shift+B repeat=false { spawn "@bluetooth_cmd@"; }
    Mod+I repeat=false { spawn "@firefox_cmd@"; }
    Mod+Shift+I repeat=false { spawn "@librewolf_cmd@"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "@wpctl_cmd@" "set-volume" "-l" "1" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "@wpctl_cmd@" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn "@wpctl_cmd@" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "@wpctl_cmd@" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "@brightnessctl_cmd@" "--quiet" "--device=intel_backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "@brightnessctl_cmd@" "--quiet" "--device=intel_backlight" "set" "5%-"; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-window-to-monitor-right; }

    Mod+Tab          { focus-workspace-down; }
    Mod+Shift+Tab    { focus-workspace-up; }
    Mod+Alt+Shift+J  { move-window-to-workspace-down; }
    Mod+Alt+Shift+K  { move-window-to-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // There are also commands that consume or expel a single window to the side.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }

    Mod+Shift+P { power-off-monitors; }
}
